Source: tumbleweed
Section: net
Priority: extra
Maintainer: Aiko Barz <aiko@chroot.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/torrentkino/tumbleweed

Package: tumbleweed
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Instant webserver
 This package includes a simple static command line webserver.
